:root {
  --el-color-primary: #e6a23c;
  --el-color-primary-light-3: #eebe77;
  --el-color-primary-light-5: #f3d19e;
  --el-color-primary-light-7: #f8e3c5;
  --el-color-primary-light-8: #faecd8;
  --el-color-primary-light-9: #fdf6ec;
  --el-color-primary-dark-2: #b88230;
}
