$app-bgc: #e6a23c;
$container-bgc: #f8e3c5;
$aside-bgc: #324157;
$fill-bgc: #f8e3c5;
$base-font-color: #3d474f;
$check-color: #4cd764;
$high-light-text: #f56c6c;
$base-tag-item-height: 30px;
$font-gray: #909399;
$font-small-size: 12px;
$font-large-size: 16px;
